@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Nunito Sans", sans-serif;
  max-width: 100vw;
  max-height: 100vh;
  background-color: #ffffff;
}

button {
  background: #54d21e;
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 5px;
  color: #fff;
  text-transform: uppercase;
  margin: 1rem 0 0 1rem;
  cursor: pointer;
}

.pluss{
  font-weight: bold;
  border-radius: 50px;
  font-size: 24px;
}

button:hover,
button:active {
  opacity: 0.9;
}

.wrapper {
  max-width: 60rem;
  margin: 0 auto;
  min-height: 50vh;
  position: relative;
}

.wrapper header {
  text-transform: uppercase;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: rgb(18, 18, 18);
}

.background {
  height: 8rem;
  width: 182px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.6rem;
  text-align: left;
  text-transform: none;
  color: #fff;
  background-color: #333;
  border: 2px solid #fff;
  box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.1);
  padding: 2rem;
  width: 70%;
  height: auto;
  border-radius: 5px;
  z-index: 2;
  display: none;
}

.info.visible {
  display: block;
}

.wrapper main .section-input {
  padding: 2rem;
  text-align: center;
  background: #fff;
  box-shadow: 0 3rem 3rem rgba(0, 10, 9, 0.125);
  top: 12rem;
}

.section-input label {
  font-size: 1.6rem;
  margin-right: 2rem;
}

.section-input input {
  height: 3rem;
  min-width: 65%;
  border: 1px solid #dddddd;
  font-family: inherit;
  text-transform: capitalize;
  padding: 0 1rem;
}

.section-tasks {
  margin: 3rem auto;
}

.warning {
  text-align: center;
  font-size: 3rem;
  color: #777;
}

.task-list {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 5rem;
}
.task-list ul {
  width: 300px;
  margin: 0 auto;
}

.task-list li {
  list-style-type: none;
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  height: 4.5rem;
  background-color: #f7bfef;
  border: 2px solid #fff;
  margin-top: 10px;

}

.task-list li p {
  width: 100%;
  text-transform: capitalize;
}
li.bg-change {
  background-color: #5dff96;

}

.task {
  width: 100%;
  text-transform: capitalize;

}

.task-list button {
  background-color: white;
  border: 1px solid rgb(241, 176, 200);
  margin: 0.5rem;
  padding: 1rem;
}
.check {
  display: inline-block;
  height: 25px;
  width: 25px;
  margin: 0 20px;
}

.delBtn {
  display: inline-block;
  padding: 12px;
  margin: 0.5rem;
  color: #fff;
  border: 1px solid #fff;
  background: rgb(33, 33, 33);
border-radius: 40px;
  cursor: pointer;
}

.delBtn:hover,
.delBtn:active {
  color: #5dff96;
}

@keyframes slideRight {
  0% {
    transform: translateY(-30px);
    opacity: 0;
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

#clear-all {
  position: absolute;
  justify-content: center;
  margin: 0;
  left: 50%;
  bottom: 0; 
  transform: translate(-50%, -50%);
  background-color: #212121;
  cursor: pointer;
  display: none;
}
